*.exe
*.pdb
r***mi*
*.inspxeproj
*.dflginspxe
*.infoinspxe
nppBackup
*.orig
*.o
ctui/check-cppcheck-build-dir
*.plist
ctui/.vs
ctui/out
ctui/build
GLMLib/.vs
GLMLib/x64
*.lib
GLMLib/glmlib.u2d
glmodule.mod

# Added by cargo

/target
